.teste {
    color: red;
    background-color: grey;
}

.teste2 {
    background-color: greenyellow;
}

.teste3 {
    background-color: turquoise;
}

.purple-bg {
    background-color: #3A0CA3;
}

.almost-white-bg {
    background-color: #EDF0FE;
}

#foto {
    width: 20em;
}

.font-return-page {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@media (max-width: 576px) {
    .font-return-page {
        font-size: 14px;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    .font-return-page {
        font-size: 16px;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .font-return-page {
        font-size: 16px;
    }
}

.img-border {
    border: solid;
    border-color: #3A0CA3;
    border-width: 3px;
}

.card-border {
    border: solid;
    border-top: none;
    border-color: #3A0CA3;
    border-width: 3px;
}

.card:hover {
    background-color: #7e58d8;
}

.font-ong-name {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #3A0CA3;
}

.font-type-info {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #808080;
}

.font-info {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: black;
}

.font-contact {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #3A0CA3;
    text-decoration: none;
}

.link-border {
    padding-inline: 5px;
    border: solid;
    border-color: #3A0CA3;
    border-width: 1px;
}

.ong-pets-title {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: black;
}

.card-font-name {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.card-font-info {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 300;
    color: black;
}

.button-pages-purple {
    background-color: #3a0ca3;
    color: white;
    border: solid white;
    border-width: 2px;
    border-radius: 50%;
    padding: 7px 14px;
    text-align: center;
    font-size: 20px;
}

.button-pages-white {
    background-color: white;
    color: #3a0ca3;
    border: solid #3a0ca3;
    border-radius: 50%;
    border-width: 2px;
    padding: 7px 14px;
    text-align: center;
    font-size: 20px;
}

.button-pages-purple:hover {
    background-color: #7e58d8;
    color: black;
}

.button-pages-white:hover {
    background-color: #7e58d8;
    color: black;
}

.border-green {
    border: 0.25em solid #28A745;
}

.bg-green {
    background-color: #28A745;
}

.btn-standard-click {
    color: #3A0CA3;
    border-color: #3A0CA3;
}

.btn-standard-click:hover {
    color: #fff;
    background-color: #3A0CA3;
    border-color: #3A0CA3;
}