.rectangle {
  height: 20px;
  background-color: #3a0ca3;
}

.font_nav_brand {
  font-family: "Poppins";
  font-size: 20px;
  color: black;
}

.font_nav_link {
  font-family: "Poppins";
  font-size: 16px;
  color: black;
}

.purpleBgColor {
  background-color: #3a0ca3;
}

.purpleColor {
  color: #3a0ca3;
}

.lightPurpleBgColor {
  background-color: rgba(67, 97, 238, 0.3);
}

.font_footer {
  font-family: "Poppins";
  font-size: 16px;
  color: #aaaaaa;
}

.inputNoBorder {
  border: none;
  outline: none;
  width: 300px;
}

.purpleCircle {
  width: 50px;
  height: 50px;
  background-color: #3a0ca3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teste {
  background-color: grey;
}

.teste2 {
  background-color: greenyellow;
}

.teste3 {
  background-color: red;
}

#purpleFont {
  color: #3a0ca3;
}

.font-h3-homepage {
  /* PET É VIDA! */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29px;
  /* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/

  letter-spacing: 0.15em;

  /* Colour 1 */
  color: #4361ee;
}

.font-h1-homepage {
  /* Encontre seu novo melhor amigo! */
  /* H1 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 57.3px;
  line-height: 65px;
  /* or 113% */
  /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */

  /* Text Colour 1 */
  color: #0b090a;
}

.font-p-homepage {
  /* Conheça nossos animais prontos para receberem um novo lar. Personalize suas preferências e encontre o PET ideal! */

  /* Paragraph - Regular */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  /* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/

  /* Text Colour 3 */
  color: #808080;
}

.body {
  margin: 0;
}

#carouselExampleControls {
  max-width: 80%;
  max-height: 100px;
  overflow: hidden;
}

.esp-interno p {
  margin-bottom: 1.5px;
  /* Adjust the value as needed */
}

.carousel-item img {
  height: auto;
  /* Ensure images maintain aspect ratio */
  max-height: 100%;
  /* Set the maximum height of images to fit within the carousel container */
  width: 100%;
  /* Ensure images fill the entire width of the carousel */
}

.font-h2-homepage {
  /* Encontre seu novo melhor amigo! */
  /* H1 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 39.8px;
  line-height: 47px;
  /* or 113% */
  /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */

  /* Text Colour 1 */
  color: #0b090a;
}


.shadow_box {
  max-height: min-content;
  width: 80%;
}

.row_icon {
  display: flex;
  /* Use flexbox to align items in a row */
  align-items: center;
  /* Vertical alignment */
  gap: 10px;
  /* Space between the icon and the text */
}

.icon {
  width: 24px;
  /* Set icon width */
  height: 24px;
  /* Set icon height */
}

.text {
  margin: 0;
  /* Remove default margin from paragraph */
}

.nome_pets {
  /* H3 - Semibold */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 27.6px;
  line-height: 41px;

  /* Text Colour 2 */
  color: #2b2b2b;
}

.raca_pets {
  /* H4 - Semibold */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29px;
  /* leading-trim and text-edge are draft CSS properties.

/* Text Colour 2 */
  color: #2b2b2b;
}

.cidade_pets {
  /* Paragraph - Regular */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #808080;
}

.image-container {
  max-height: 150px;
  /* Ensure the container takes up the full height */
  display: flex;
  /* Use flexbox to align items */
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  /* Center items horizontally */

  border-radius: 10px;
  /* Add rounded edges */
  overflow: hidden;

  display: block;
}

.image-border {
  justify-content: center;
  align-items: center;
  border: 2px solid #4361ee;
  border-radius: 20px;
  border-color: #4361ee;
}

.title-banner {
  /* Seja parceiro! */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 47px;
  /* or 78% */
  /* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/

  /* White */
  color: #ffffff;
}

.banner-parceiro {
  /* Group 139 */
  /* Rectangle 39 */

  background: linear-gradient(180deg, #ded4f7 0%, #4361ee 100%);
  border-radius: 50px;
}

.text-banner {
  /* Gostaria de fazer parte da plataforma? Cadastre sua instituição ou ONG agora mesmo! */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  /* or 130% */
  /* leading-trim and text-edge are draft CSS properties.


/* White */
  color: #ffffff;
}

.btn-custom-font {
  /* Rent */

  border-radius: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 60px;
  /* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/

  text-align: center;

  color: #4f6bef;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  max-height: fit-content;
}






.card:hover {
  background-color: #7e58d8;
  text-decoration: none;
}

.border-card {
  border-bottom: 0.15em solid #3a0ca3;
  border-left: 0.15em solid #3a0ca3;
  border-right: 0.15em solid #3a0ca3;
  border-top: none;
}

.border-img-card {
  border: 0.15em solid #3a0ca3;
}

.font_name_white {
  font-family: 'Poppins';
  font-size: clamp(1.5em, 0.5em + 1.2vw, 2.2em);
  font-weight: 500;
  color: white;
}

.font_infos_white {
  font-family: 'Poppins';
  font-size: clamp(1.2em, 0.3em + 0.8vw, 1.8em);
  font-weight: 300;
  color: white;
}

.font_icons {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 300;
  color: white;
}


.background-home-1 {

  background: radial-gradient(circle, rgba(88, 92, 216, 0.15028009494813555) 0%, rgba(255, 255, 255, 0) 100%);
}

.background-home-2 {

  background: radial-gradient(circle at bottom, rgba(88, 92, 216, 0.15028009494813555) 0%, rgba(255, 255, 255, 0) 100%);
}

.background-home-3 {

  background: radial-gradient(circle at top, rgba(88, 92, 216, 0.15028009494813555) 0%, rgba(255, 255, 255, 0) 100%);
}

.background-ongs {
  background-color: white;
}

.background-home-4 {
  background: radial-gradient(circle at top, rgba(88, 92, 216, 0.15028009494813555) 10%, rgba(255, 255, 255, 0) 100%);

}

.image-carousel {
  width: 300;
  height: 250;
  overflow: hidden;
}


.background-home {
  background: linear-gradient(rgba(88, 92, 216, 0.15028009494813555), rgba(255, 255, 255, 0), rgba(88, 92, 216, 0.15028009494813555), rgba(255, 255, 255, 0), rgba(88, 92, 216, 0.15028009494813555));
}

@media (max-width: 576px) {
  .font-h2-homepage {
    font-size: 20px;
    line-height: 1.1;

    /* Adjust the font size for smaller screens */
  }

  .font-h1-homepage {
    font-size: 30px;
    /* Adjust the font size for smaller screens */
    line-height: 1;
  }

  .font-h3-homepage {
    font-size: 15px;
    line-height: 1;
    /* Adjust the font size for smaller screens */
  }

  #carouselExampleControls {
    max-width: 110%;
  }

  .font-p-homepage {
    font-size: 14px;
  }

  .title-banner {
    font-size: 35px;
    text-align: center;
  }

  .text-banner {
    font-size: 15px;
    margin-bottom: 2px;
  }

  .btn-custom-font {
    /* Rent */

    border-radius: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    /* leading-trim and text-edge are draft CSS properties.
  
  Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
  */

    text-align: center;

    color: #4f6bef;

    /* Inside auto layout */
    ;
    order: 0;
    flex-grow: 0;
    max-height: fit-content;

    margin-top: 0;
  }

  .banner-parceiro {
    /* Group 139 */
    /* Rectangle 39 */

    background: linear-gradient(180deg, #ded4f7 0%, #4361ee 100%);
    border-radius: 40px;
  }

  .font_icons {
    font-family: 'Poppins';
    font-size: 15px;
  }
}

.img-rounded {
  border-radius: 50px; /* Ajuste o valor conforme necessário */
}