.rectangle {
  height: 20px;
  background-color: #3a0ca3;
}

.font_nav_brand {
  font-family: 'Poppins';
  font-size: 20px;
  color: black;
}

.font_nav_link {
  font-family: 'Poppins';
  font-size: 16px;
  color: black;
}

.purpleBgColor {
  background-color: #3a0ca3;
}

.purpleColor {
  color: #3a0ca3;
}

.lightPurpleBgColor {
  background-color: rgba(67, 97, 238, 0.3);
}

.font_footer {
  font-family: 'Poppins';
  font-size: 16px;
  color: #AAAAAA;
}

.inputNoBorder {
  border: none;
  outline: none;
  width: 300px;
}

.purpleCircle {
  width: 50px;
  height: 50px;
  background-color: #3a0ca3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teste {
  background-color: grey;
}

.teste2 {
  background-color: greenyellow;
}

.teste3 {
  background-color: red;
}

#purpleFont {
  color: #3a0ca3;
}

.font-h3-homepage {

  /* PET É VIDA! */


font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 19.4px;
line-height: 29px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/

letter-spacing: 0.15em;

/* Colour 1 */
color: #4361EE;


}

.font-h1-homepage {
  /* Encontre seu novo melhor amigo! */
  /* H1 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 57.3px;
  line-height: 65px;
  /* or 113% */
  /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */

  /* Text Colour 1 */
  color: #0b090a;
}

.font-p-homepage{

    /* Conheça nossos animais prontos para receberem um novo lar. Personalize suas preferências e encontre o PET ideal! */


/* Paragraph - Regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/


/* Text Colour 3 */
color: #808080;


}

.body{
  margin: 0;
}

#carouselExampleControls {
  max-width: 80%;
}


.font-h2-homepage {
  /* Encontre seu novo melhor amigo! */
  /* H1 */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 39.8px;
  line-height: 47px;
  /* or 113% */
  /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */

  /* Text Colour 1 */
  color: #0b090a;
}



.shadow_box{

  max-height: min-content;
  width: 80%;
}



.row_icon {
  display: flex; /* Use flexbox to align items in a row */
  align-items: center; /* Vertical alignment */
  gap: 10px; /* Space between the icon and the text */
}

.icon {
  width: 24px; /* Set icon width */
  height: 24px; /* Set icon height */
}

.text {
  margin: 0; /* Remove default margin from paragraph */
}



.nome_pets{

/* H3 - Semibold */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 27.6px;
line-height: 41px;




/* Text Colour 2 */
color: #2B2B2B;


}


.raca_pets{


  /* H4 - Semibold */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 19.4px;
line-height: 29px;
/* leading-trim and text-edge are draft CSS properties.

/* Text Colour 2 */
color: #2B2B2B;


}


.cidade_pets{


/* Paragraph - Regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #808080;


}

.image-container {
  max-height: 150px; /* Ensure the container takes up the full height */
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */

  border-radius: 10px; /* Add rounded edges */
  overflow: hidden;

  display: block;
   

}

.image-border{
  justify-content: center;
  align-items: center;
  border: 2px solid #4361EE;
  border-radius: 20px;
  border-color: #4361EE;
}

.title-banner{
  /* Seja parceiro! */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 47px;
/* or 78% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/

/* White */
color: #FFFFFF;


}

.banner-parceiro{
  /* Group 139 */
  /* Rectangle 39 */



background: linear-gradient(180deg, #DED4F7 0%, #4361EE 100%);
border-radius: 50px;


}

.text-banner{
  /* Gostaria de fazer parte da plataforma? Cadastre sua instituição ou ONG agora mesmo! */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
/* or 130% */
/* leading-trim and text-edge are draft CSS properties.


/* White */
color: #FFFFFF;


}

.btn-custom-font {
  /* Rent */

border-radius: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 60px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/

text-align: center;

color: #4F6BEF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
max-height: fit-content;
}