.rectangle {
  height: 20px;
  background-color: #3a0ca3;
}

.font_nav_brand {
  font-family: 'Poppins';
  font-size: 20px;
  color: black;
}

.font_nav_link {
  font-family: 'Poppins';
  font-size: 16px;
  color: black;
}

.purpleBgColor {
  background-color: hsl(258, 86%, 34%);
}
.border-purple {
    border: 0.25em solid #3A0CA3;
}
.back-purple {
    background-color:#3a0ca3;
}

.purpleColor {
  color: #3a0ca3;
}

.lightPurpleBgColor {
  background-color: rgba(67, 97, 238, 0.3);
}

.light_blue{
    background-color: rgba(67,97,238, 0.1);
}
.text_purple{
    color: #3A0CA3;
}
.icon {
    color: grey;
.font_footer {
  font-family: 'Poppins';
  font-size: 16px;
  color: #AAAAAA;
}

.inputNoBorder {
  border: none;
  outline: none;
  width: 300px;
}

.purpleCircle {
  width: 50px;
  height: 50px;
  background-color: #3a0ca3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teste {
  background-color: grey;
}

.teste2 {
  background-color: greenyellow;
}

.teste3 {
  background-color: red;
}

#purpleFont {
  color: #3a0ca3;
}

.font-h3-homepage {

  /* PET É VIDA! */


font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 19.4px;
line-height: 29px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/

letter-spacing: 0.15em;

/* Colour 1 */
color: #4361EE;


}

.font-h1-homepage {
  /* Encontre seu novo melhor amigo! */
  /* H1 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 57.3px;
  line-height: 65px;
  /* or 113% */
  /* leading-trim and text-edge are draft CSS properties.

    Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
    */

  /* Text Colour 1 */
  color: #0b090a;
}

.font-p-homepage{

    /* Conheça nossos animais prontos para receberem um novo lar. Personalize suas preferências e encontre o PET ideal! */


/* Paragraph - Regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/


/* Text Colour 3 */
color: #808080;


}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
.footer_rectangle {
    height: 40px;
    background-color: #0B090A;
    width: 100%;
}
.background-img {
    position: relative;
    display: block;
}  
.coracao {
    color: #FF0000;
}
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
.headers_caract{
    color: #808080;
    font-size:medium;
}
.text_caract{
    color: #000000;
    font-size:larger;
}
.heart-img {
    position: relative;
    width: 100px;
}

.badge {
    position: absolute;
    top: 6px;
    right: 0px;
    border-radius: 10em;
    border: 0.2em solid black;
    font-size: 12px;
    background-color: white;
}
@media (max-width: 576px) {
    .heart-img {
        width: 50px;
    }
}