.rectangle {
    height: 20px;
    background-color: #3A0CA3;
}

.purple {
    background-color: #3A0CA3;
}

.light_purple {
    background-color: rgba(67, 97, 238, 0.3);
}

.icon {
    color: grey;
}

.inputNoBorder {
    border: none;
    outline: none;
    width: 300px;
}